/* src/App.css */
.App {
  text-align: center;
  position: relative;
  background-color: #ffff;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.team-category {
  margin-bottom: 30px;
}

.team-category h2 {
  font-size: 24px;
  margin-bottom: 10px;
  
}

.team-members {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.member {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.member img {
  border-radius: 50%;
  width: 180px; 
  height: 180px; 
  background-color: #777;
}

.member h3 {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .team {
    flex-direction: row;
  }
  
  .team-category {
    margin-right: 20px;
  }

  .team-members {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .member {
    flex: 0 1 calc(35% - 110px);
  }
}

h1 {
  display: inline-block;
  background-color: brown;
  color: #ffff;
  border-radius: 5px;
  width: 250px;
  text-align: center;
}

h2 {
  display: inline-block;
  background-color: brown;
  color: #ffff;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  text-align: center;
  
}

.first-part {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  margin-top: 60px;
}
.member {
  margin: 10px;
}

.card {
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 50%;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}

.card h3 {
  margin-top: 10px;
}

.card p {
  margin-top: 5px;
  color: #777;
}

.line{
  color: brown;
  font-weight:1000;
}